<template>
  <div>
    
    <pagination :loading="loading" :columns="columns" :rows="contacts"></pagination>
    
  </div>
</template>

<script>

export default {
  name: 'Contacts',
  data: function () {
    return {
      contacts : [],
      loading: false,
      columns: [
        {
          label: 'Id',
          field: 'id'
        },
        {
          label: 'Name',
          field: 'name'
        },
        {
          label: 'Job Title',
          field: 'job_title'
        }
      ],
    }
  },
  created() {
      this.getContacts()
  },
  methods: {
    getContacts(){

        this.loading = true

        var self = this
        setTimeout(function(){
            self.loading = false;
        },1000)

        this.contacts = [
           {id:1,name:'Alejandro Cepeda',job_title:'Senior BackEnd Developer'},
           {id:2,name:'Jesus Quevedo',job_title:'Senior FrontEnd Developer'},
           {id:3,name:'Camilo Atkinson',job_title:'SEO Specialist'},
           {id:4,name:'Jhon Doe',job_title:'Serial Killer'},
        ]
    }
  }
}
</script>
 
<style scoped>

</style>