<template>
  
    <b-nav>
      <b-nav-item to="about-us">About Us</b-nav-item>
      <b-nav-item to="contacs">Contacs</b-nav-item>
      <b-nav-item to="lang">Languajes</b-nav-item>
    </b-nav>

</template>

<script>

export default {
  name: 'Menu'
}
</script>
 
<style scoped>
ul{
  list-style: none;
  padding-inline-start: 0px !important;
}
</style>

