<template>
  <div id="app">

    <v-menu></v-menu>
    
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>

  </div>
</template>

<script>
import Vue from 'vue'
import menu from '@/components/Menu.vue'

Vue.component('v-menu', menu)

export default {
  name: 'app'
}
</script>
 
<style>
ul{
  list-style: none;
  padding-inline-start: 0px !important;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
